html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    color: #151515;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    overflow: hidden;
}

main {
    visibility: hidden;
    display: grid;
    width: 80%;
    height: 80%;
    place-items: center;
}

#main-container {
    text-align: center;
    white-space: pre;
    position: relative;
}

main * {
    margin: 0;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #22BCFC;
    color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 200ms;
    z-index: 999;
}

#loading-logo {
    width: 150px;
    height: 150px;
    animation: skip 800ms ease-in-out infinite;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@keyframes skip {
    0% { translate: 0 0; rotate: 0deg; }
    25% { translate: 5px -5px; rotate: 1deg; }
    50% { translate: 0 0; rotate: 0deg; }
    75% { translate: -5px -5px; rotate: -1deg; }
    100% { translate: 0 0; rotate: 0deg; }
}

#loading-circle {
    width: 50px;
    height: 50px;
    margin-top: 2em;
    animation: spin 2s infinite, circle-dot 2s infinite;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-image: url("../img/loading_circle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    mask: conic-gradient(transparent 15%, black 50% 100%);
}

@keyframes spin {
    0% { rotate: 0deg; }
    100% { rotate: 1440deg; }
}

@keyframes circle-dot {
    0%, 100% {
        background-image: url("../img/loading_dot.svg");
    }
    60% {
        background-image: url("../img/loading_circle.svg");
        scale: 1.05;
    }
}

#loading-error {
    display: none;
    color: #f5f5f5;
    font-size: 1.25em;
    position: absolute;
    top: 15%;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    background-color: #1515157F;
    padding: 0.25em 0.5em 0.25em 0.5em;
    border-radius: 0.25em;
    text-align: center;
    white-space: pre;
}

@media (scripting: none) {
    #loading-error {
        display: block;
        text-indent: -9999px;
        line-height: 0;
        color: transparent;
        opacity: 1;
    }

    #loading-logo, #loading-circle, #loading-torch {
        display: none;
    }

    #loading-error::before {
        content: "Please enable JavaScript in your browser to run this application.";
        text-indent: 0;
        display: block;
        line-height: initial;
        color: #f5f5f5;
    }
}

.outline {
    position: relative;
    display: inline-block;
}

.outline::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: #151515;
    z-index: -1;
    text-stroke: attr(data-stroke px) #151515;
    -webkit-text-stroke: attr(data-stroke px) #151515;
}

button {
    text-decoration: none;
    color: inherit;
    border-radius: 0.35em;
    border: 1px solid;
    border-color: inherit;
    background: none;
    padding: 0.25em 0.5em 0.25em 0.5em;
    transition: opacity 200ms ease-in-out;
    cursor: pointer;
    font-family: inherit;
    user-select: none;
}

button:hover {
    opacity: 0.75;
}

a {
    color: inherit;
}

a:hover {
    opacity: 0.8;
}

img {
    pointer-events: none;
    user-select: none;
}

@keyframes screen-shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.fill-in-the-blanks {
    font: inherit;
    color: inherit;
    background: inherit;
    border: none;
    border-bottom: 2px solid;
    position: relative;
    text-align: center;
    width: 100%;
}

.fill-in-the-blanks::placeholder {
    visibility: hidden;
}

.fill-in-the-blanks:focus {
    outline: none;
    border-bottom: 2px solid #22BCFC;
}

.placeholder {
    position: absolute;
    font-size: 0.5em;
    color: #15151580;
}

.temp {
    visibility: hidden;
}

.no-size {
    width: 0;
    height: 0;
}

#swap-page {
    position: absolute;
    top: calc(100% - 4em);
}

@media (prefers-color-scheme: dark) {
    html, body {
        background: #151515;
        color: #f5f5f5;
    }

    .placeholder {
        color: #f5f5f580;
    }
}